$color-titulo-sitio: antiquewhite;
$font-titulo-sitio: 'Rock Salt', cursive;
$color-navbar: antiquewhite;
$font-navbar: monospace;
$color-titular: whitesmoke;
$font-titular: 'Roboto Mono', monospace;
$color-copyright: whitesmoke;
$color-parrafo: antiquewhite;
$font-parrafo: 'IM Fell English', serif;
$color-titulo-letra: antiquewhite;
$font-titulo-letra: 'Roboto Mono', monospace;
$color-parrafo-letra: antiquewhite;
$font-parrafo-letra: 'Cormorant', serif;