@media (max-width:1024px) {
    .lista-navbar li {
        a {
            font-size: 1.1875rem;
        }
    }

    .titulo-sitio h1 {
        font-size: 3.4375rem;
    }

    .titular {
        font-size: 1.375rem
    }

    .copyright {
        font-size: smaller;
    }
}